<article>
    <div class="article-header--primary">
        <h2 class="count">Colour Palette's</h2></div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet sit amet enim vel ullamcorper. Vestibulum auctor vehicula lacus sed fermentum. Nunc eget lectus tincidunt, porttitor tortor sed, blandit justo. Phasellus sit amet ullamcorper justo. Maecenas in diam erat. Quisque elit odio, cursus in porta in, interdum ut nulla. Suspendisse potenti. </p>
</article>

<article>
    <div class="article-header--secondary">
        <h3>Standard Palette</h3></div>
    <div class="flex-content">
        <div class="color-style">
            <div class="color-tile color-tile--blue-dark-bg">
            </div>
            <code class="color-hex">#000066</code>
        </div>
        <div class="color-style">
            <div class="color-tile color-tile--pink-bg">
            </div>
            <code class="color-hex">#CC3D7F</code>
        </div>
        <div class="color-style">
            <div class="color-tile color-tile--yellow-bg">
            </div>
            <code class="color-hex">#FFFF08</code>
        </div>
        <div class="color-style">
            <div class="color-tile color-tile--blue-light-bg">
            </div>
            <code class="color-hex">#ECEEF7</code>
        </div>
        <div class="color-style">
            <div class="color-tile color-tile--white-bg">
            </div>
            <code class="color-hex">#FFFFFF</code>
        </div>
    </div>
</article>

<article>
    <div class="article-header--secondary">
        <h3>Primary school palette</h3></div>
    <div class="flex-content">
        <div class="color-style">
            <div class="color-tile color-tile--blue-p-dark-bg">
            </div>
            <ul>
                <li>Primary blue</li>
                <li>
                    <code class="color-hex">#6D96BB</code>
                </li>
            </ul>
        </div>
        <div class="color-style">
            <div class="color-tile color-tile--pink-p-bg">
            </div>
            <code class="color-hex">#CF1B6E</code>
        </div>
        <div class="color-style">
            <div class="color-tile color-tile--blue-p-light-bg">
            </div>
            <code class="color-hex">#B6CBDC</code>
        </div>
        <div class="color-style">
            <div class="color-tile color-tile--red-p-bg">
            </div>
            <code class="color-hex">#D93838</code>
        </div>
        <div class="color-style">
            <div class="color-tile color-tile--orange-p-bg">
            </div>
            <code class="color-hex">#FFAA33</code>
        </div>
        <div class="color-style">
            <div class="color-tile color-tile--green-p-bg">
            </div>
            <code class="color-hex">#DAE5EE</code>
        </div>
    </div>
</article>


<article>
    <div class="article-header--secondary">
        <h3>Secondary school palette</h3></div>
    <div class="flex-content">
        <div class="color-style">
            <div class="color-tile color-tile--blue-dark-bg">
            </div>
            <code class="color-hex">#000066</code>
        </div>
        <div class="color-style">
            <div class="color-tile color-tile--pink-bg">
            </div>
            <code class="color-hex">#CC3D7F</code>
        </div>
        <div class="color-style">
            <div class="color-tile color-tile--yellow-bg">
            </div>
            <code class="color-hex">#FFFF08</code>
        </div>
        <div class="color-style">
            <div class="color-tile color-tile--blue-light-bg">
            </div>
            <code class="color-hex">#ECEEF7</code>
        </div>
        <div class="color-style">
            <div class="color-tile color-tile--white-bg">
            </div>
            <code class="color-hex">#FFFFFF</code>
        </div>
    </div>
    {% include button.html text="Hey lyla" %}
</article>