
<article>
<h2 class="example-title">Headers</h2>
	<div class="example">
		<h1 class="no-count">Header one</h1>
		<h2 class="no-count">Header two</h2>
		<h3 class="no-count">Header three</h3>
	</div>
</article>


<article>
	<h2 class="example-title count">Pararagraphs</h2>
	<div class="example">
		<p>We have released 16 new worksheets, which form a brand new KS1 booster pack. This new pack is closely aligned to the demands of the national curriculum at the end of KS1, and is a great way to embed topics learnt throughout the year.</p>
		<p>These worksheets are a great resource to assign to your students ahead of their SATs. To set all of these tasks as a booster pack, simply select the booster pack from the drop-down in the task allocation window in the Assessment Manager, and select All worksheets.</p>
	</div>
</article>

<article>
	<h2 class="example-title">Links</h2>
<a href="">This is a link</a>
</article>

