<header class="site-header">
    <nav class="navbar navbar-static">
        <div class="navbarlogo">
            <a href="index.html"><img alt="MyMaths Logo" src="/images/logo.svg"></a>
            <div class="navbar-pattern pull-right"><img alt="" src="img/header_pattern.png" class="centered hidden-xs"></div>
        </div>
        <ul class="nav nav-pills nav-stacked visible-xs" id="topnavlist">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="gettingStarted.html">Getting Started</a></li>
            <li><a href="walkthroughs.html">Walkthroughs</a></li>
            <br>
            <li><a href="faqs.html">FAQS</a></li>
            <li class="hidden-xs"><a href="student.html">Student</a></li>
            <li class="subnav-expand hidden-xs"><a href="teacher.html">Teachers</a>
                <ul class="subnav"> <a href="lessons.html">- Lessons</a> <a href="markbook.html">- Markbook</a> <a href="resources.html">- Resources</a> <a href="digitalbook.html">- Digital Book</a> <a href="assessment.html">- Assessment</a> <a href="usermanagement.html">- User Management</a> </ul>
            </li>
            <li class="hidden-xs"><a href="administrator.html">Administrator</a></li>
            <li class="subnav-expand hidden-xs"><a href="technical.html">Technical</a>
                <ul class="subnav"> <a href="login.html">- Login</a> <a href="filtering.html">- Filtering</a> <a href="browser.html">- Browsers</a> </ul>
            </li>
            <br>
            <li><a href="news.html">News</a></li>
            <li><a href="tools.html">Tools</a></li>
            <li><a target="_blank" href="https://global.oup.com/education/secondary/kerboodle/digital-reps-team/?region=uk">Free Training</a></li>
        </ul>
    </nav>
<!--     <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
</header>
