<div class="row">
    <div class="col-sm-3 col-sm-offset-9">
        <form action="/education/product_support/kerboodle/search_results/">
            <div class="input-group">
                <input type="text" placeholder="Keywords" class="form-control" name="terms">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">Search</button>
                </span>
            </div>
        </form>
        <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->
</div>